# Ignore Python compiled files
*.pyc
__pycache__/
temp.py

# Ignore directories
dist/
build/
logs/

#  Ignore vscode
.vscode/
*.json

# Ignore db files and pyinstaller
adanProgram.db
*.spec
*.zip

temp/

